@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: backgroundWhite;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.text-green {
  color: #1F4529; 
}

.hover\:bg-green-500:hover {
  background-color: #1F4529; 
}

.hover\:text-white:hover {
  color: white;
}

.hover\:scale-110:hover {
  transform: scale(1.10);
}

.number-container:hover .number {
  padding-top: 50px; 
  padding-bottom: 20px; 
  padding-left: 30px; 
  padding-right: 10px;
  transition: 0.3; 
  
}